<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Learn more about us!</h2>
                <hr class="light">
                <p class="text-faded">Sibshops, a program created in 1990 to help meet the needs of typically developing siblings of children with special health and developmental needs, is alive and well in Green!</p>
                <p class="text-faded">Green Sibshops offer a group for children in grades 3 to 6 and a teen group for grades 7 to 12.</p>
                <p class="text-faded">Being a typically-developing sibling in such a home can be challenging, due to demands on time and energy, and life can be chaotic at times. Sibshops are designed to be a safe, fun, and special place for these kids, where they will find peer support and education that is recreational, with an emphasis on fun.</p>
                <p class="text-faded">Our events take place one Saturday each month, except for December. The younger group, which began in 2016, meets from 10:30 am to 1:30 pm. Our teen Sibshop was born in 2018 as our younger group “aged out,” but still expressed a wish to go on. It meets from 2:30 to 5:30 pm. There is no charge, and a meal is provided for both groups.</p>
                <p class="text-faded">The format will vary, but will include opportunities to: Meet other brothers and sisters of children with special needs. Have fun! Share, if they choose to, with others who “get it” about the good (and sometimes not so good!) parts of having a sib with special needs. Form lasting friendships! Try new things like dessert and pizza making, cake decorating, “Minute to Win It” and other Games, Crafts and always:-HAVE FUN!</p>
                <p class="text-faded">Trained facilitators and volunteers who have all been back-ground checked and have received Safe Sanctuary training, provide a program that provides an opportunity to meet other siblings in a relaxed, safe and recreational setting.</p>
                <a href="#pandemic" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
