<section class="bg-primary" id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Registration</h2>
                <hr class="light">
                <p class="text-faded">If you have a child you would like to register, please print out the registration form below and either drop it off in the church office, mail it to x, Green Ohio 44232, or email it to <a href="mailto:office@greensburgumc.net.">office@greensburgumc.net.</a></p>
                <a href="#" class="btn btn-default btn-xl">Register Now!</a>
            </div>
        </div>
    </div>
</section>
